version: '3'
services:
  do1819-02:
    build: .
    environment: 
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - DBPORT=${DBPORT}
      - mongoDBHostname=${mongoDBHostname}
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - VIRTUAL_PORT=${PORT}
    restart: always
    depends_on:
      - mongo
    ports:
      - "127.0.0.1:${PORT}:${PORT}"
    volumes:
      - "logsvol:/usr/src/app/logs"
  mongo:
    image: "mongo"
    environment: 
      - DBPORT=${DBPORT}
    expose:
       - "${DBPORT}"
    command:  --port ${DBPORT}
    volumes:
      - "dbdata:/data/db"
      - "logsvol:/var/log/mongodb"

volumes:
  logsvol:
  dbdata:

networks: 
  default:
    external:
      name: service-tier